@charset "utf-8";
.page {
  max-width: 7.5rem;
  margin: 0 auto;
}
.page .meau {
  display: flex;
  justify-content: space-between;
  width: .55rem;
}
.page .meau span {
  display: block;
  width: .12rem;
  height: .12rem;
  background: #030303;
  border-radius: 50%;
}
.page .footer {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: .49rem;
  padding-right: .67rem;
  padding-top: .05rem;
  box-sizing: border-box;
}
.page .footer a {
  align-items: center;
  margin-top: .17rem;
}
.page .footer a img {
  width: .51rem;
  height: .56rem;
}
.page .footer a p {
  font: 0.2rem/0.46rem "微软雅黑";
  color: #727272;
}
.page .footer a .frist {
  color: #df7333;
}
body {
  background: #f1f1f1;
}
.headcon {
  display: flex;
  justify-content: space-between;
  height: .88rem;
  align-items: center;
  background: #fff;
  padding: 0 .23rem;
  padding-top: .40rem;
  border-bottom: 1px solid #e4e4e4;
}
.headcon img {
  width: auto;
  height: .43rem;
}
.headcon input {
  width: 3.04rem;
  height: .39rem;
  background: #eeeeee;
  border-radius: .06rem;
  text-align: center;
  font: 18px "微软雅黑";
}
.navbar {
  background: #fff;
  overflow: hidden;
  position: relative;
}
.navbar ul {
  width: 20rem;
}
.navbar ul li {
  float: left;
  position: relative;
}
.navbar ul li .cur {
  color: #cc3666;
  border-bottom: 4px solid #ff0140;
}
.navbar ul li .cur::after {
  content: "";
  width: 1px;
  height: .29rem;
  background: #f1f1f1;
  position: absolute;
  left: .95rem;
}
.navbar ul li a {
  display: block;
  padding-top: .23rem;
  font: 0.28rem/0.31rem "微软雅黑";
  color: #2c2c2c;
  border-bottom: 4px solid transparent;
  padding-bottom: .18rem;
  margin: 0 .23rem;
}
.navbar .arrow {
  width: .75rem;
  height: .75rem;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  background: #ffffff url(../images/arrow.jpg) no-repeat 0.23rem 0.25rem;
  background-size: .35rem .18rem;
}
.banner a img {
  width: 100%;
  height: auto;
}
.icon {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ebebeb;
}
.icon li {
  text-align: center;
  padding-top: .31rem;
  padding-bottom: .18rem;
}
.icon li a {
  display: block;
}
.icon li a img {
  width: auto;
  height: .62rem;
}
.icon li a p {
  font: 0.28rem/0.69rem "微软雅黑";
  color: #818181;
}
.main {
  display: flex;
  background: #fff;
  margin-top: .30rem;
  border: 1px solid #ececec;
}
.main > div {
  flex-grow: 1;
}
.main .left {
  border-right: 1px solid #f0f0f0;
  margin-left: .20rem;
  margin-top: .15rem;
  margin-bottom: .18rem;
}
.main .left img {
  width: .32rem;
  height: .36rem;
  float: left;
  margin-right: .14rem;
}
.main .left .xianshi {
  font: 0.3rem/0.36rem "微软雅黑";
  color: #f32d5e;
}
.main .left .zero {
  font: 0.2rem/0.28rem "微软雅黑";
  color: #a2a2a2;
}
.main .left .time {
  margin-top: .06rem;
}
.main .left .time span {
  display: inline-block;
  font: 0.22rem/0.43rem "微软雅黑";
  float: left;
}
.main .left .time .two {
  padding: 0 .07rem;
}
.main .left .time .one {
  width: .43rem ;
  height: .43rem;
  background: #282830;
  color: #fbfcff;
  font: 0.22rem/0.43rem "微软雅黑";
  text-align: center;
  border-radius: .10rem;
}
.main .left .time .miao {
  width: .96rem;
  height: .4rem;
  margin-left: .26rem;
  text-align: center;
  line-height: .4rem;
  background-image: url(../images/bg.jpg);
  background-size: .96rem .4rem;
}
.main .left .tu {
  position: relative;
}
.main .left .tu img {
  margin-left: .3rem;
  margin-top: .3rem;
  width: 2.36rem;
  height: auto;
}
.main .left .tu div {
  width: .84rem;
  font: 0.18rem/0.84rem "微软雅黑";
  border-radius: 50%;
  background: #ff3179;
  color: #fafeff;
  text-align: center;
  position: absolute;
  right: 0.09rem;
  bottom: -2.19rem;
}
.main .right .top {
  margin-top: .15rem;
  border-bottom: 1px solid #eeeeee ;
}
.main .right .top .left1 .pin {
  font: 0.3rem/0.36rem "微软雅黑";
  color: #ff267a;
  margin-left: .18rem;
}
.main .right .top .left1 .every {
  font: 0.2rem/0.28rem "微软雅黑";
  color: #b2b2b2;
  margin-left: .18rem;
}
.main .right .top .left1 img {
  width: 1.04rem;
  height: .43rem;
  margin-top: .19rem;
  margin-left: .23rem;
}
.main .right .top .right1 {
  margin-right: .2rem;
}
.main .right .top .right1 img {
  width: 1.49rem;
  height: 1.89rem;
  margin-bottom: .05rem;
}
.main .right .bottom {
  display: flex;
  flex-grow: 1;
}
.main .right .bottom .le {
  width: 1.87rem;
  border-right: 1px solid #ececec ;
}
.main .right .bottom .le .p1 {
  font: 0.3rem/0.36rem "微软雅黑";
  color: #f71c6c;
  margin-left: .18rem;
  margin-top: .19rem;
}
.main .right .bottom .le .p2 {
  font: 0.2rem/0.28rem "微软雅黑";
  color: #808080;
  margin-left: .18rem;
}
.main .right .bottom .le img {
  width: .71rem;
  height: 1.07rem;
  margin-top: .03rem;
  margin-left: .54rem;
  margin-bottom: .02rem;
}
.main .right .bottom .ri {
  width: 1.87rem;
}
.main .right .bottom .ri .p1 {
  font: 0.3rem/0.36rem "微软雅黑";
  color: #f71c6c;
  margin-left: .18rem;
  margin-top: .19rem;
}
.main .right .bottom .ri .p2 {
  font: 0.2rem/0.28rem "微软雅黑";
  color: #808080;
  margin-left: .18rem;
}
.main .right .bottom .ri img {
  width: .71rem;
  height: 1.07rem;
  margin-top: .03rem;
  margin-left: .54rem;
  margin-bottom: .02rem;
}
.guanggao {
  margin-top: .28rem;
  margin-bottom: .28rem;
}
.guanggao img {
  width: 100%;
  height: auto;
}
.neirong {
  background: #fff;
  border-bottom: 1px solid #ececec ;
  padding-bottom: .6rem;
}
.neirong .title {
  display: flex;
  margin-left: .21rem;
  padding-top: .20rem;
  margin-bottom: .20rem;
}
.neirong .title a {
  width: 1.78rem;
  font: 0.28rem/0.68rem "微软雅黑";
  border: 1px solid #ececec;
  color: #262626;
  text-align: center;
}
.neirong .title .hot {
  background: #f26b11;
  color: #fffdf9;
}
.neirong .xia .one {
  width: 7.05rem;
  display: flex;
  padding-bottom: .37rem;
  box-shadow: 0 0 .1rem #f2f2f2;
  margin-bottom: .34rem;
  margin-left: .23rem;
}
.neirong .xia .one .zuo img {
  width: 2.18rem;
  height: 2.23rem;
  margin-top: .55rem;
  margin-left: .35rem;
}
.neirong .xia .one .you .ya {
  font: 0.28rem/0.58rem "微软雅黑";
  color: #292929;
  margin-top: .32rem;
  margin-left: .51rem;
}
.neirong .xia .one .you .money {
  font: 0.28rem/0.5rem "微软雅黑";
  color: #ed3638;
  margin-left: .51rem;
}
.neirong .xia .one .you .yishou {
  font: 0.26rem/0.6rem "微软雅黑";
  color: #979797;
  margin-left: .51rem;
  margin-bottom: .12rem;
}
.neirong .xia .one .you a {
  width: 1.64rem;
  text-align: center;
  background: #f26b11;
  font: 0.26rem/0.52rem "微软雅黑";
  color: #fffdf8;
  padding: .15rem .34rem;
  border-radius: .1rem;
  margin-left: .51rem;
}
